build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/statki
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.0/CMakeCCompiler.cmake
build/CMakeFiles/3.31.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.0/CMakeSystem.cmake
build/CMakeFiles/3.31.0/CompilerIdC/a.out
build/CMakeFiles/3.31.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.0/CompilerIdCXX/a.out
build/CMakeFiles/3.31.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/statki.dir/build.make
build/CMakeFiles/statki.dir/cmake_clean.cmake
build/CMakeFiles/statki.dir/compiler_depend.make
build/CMakeFiles/statki.dir/compiler_depend.ts
build/CMakeFiles/statki.dir/depend.make
build/CMakeFiles/statki.dir/DependInfo.cmake
build/CMakeFiles/statki.dir/flags.make
build/CMakeFiles/statki.dir/link.d
build/CMakeFiles/statki.dir/link.txt
build/CMakeFiles/statki.dir/progress.make
build/CMakeFiles/statki.dir/src/Game.cpp.o
build/CMakeFiles/statki.dir/src/Game.cpp.o.d
build/CMakeFiles/statki.dir/src/GameBoard.cpp.o
build/CMakeFiles/statki.dir/src/GameBoard.cpp.o.d
build/CMakeFiles/statki.dir/src/GameEntities.cpp.o
build/CMakeFiles/statki.dir/src/GameEntities.cpp.o.d
build/CMakeFiles/statki.dir/src/main.cpp.o
build/CMakeFiles/statki.dir/src/main.cpp.o.d
